<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<table>
    <tr>
        <th>nom</th>
        <th>email</th>
        <th>date</th>
        <th>action</th>
    </tr>
    {% csrf_token %}
    {% for i in tata %}
    <tr>
        <td>
        <a href="{% url 'urledite' i.pk %}">
        
            {{i.nom}}
        </a>
        </td>
        <td>{{i.email}}</td>
        <td>{{i.date}}</td>
        <td>
            <a href="{% url 'urlmodifier' i.pk %} ">modifier</a>
            <a href="{% url 'urlsupprimer' i.pk %}">supprimer</a>
       
        </td>
    </tr>
    {% endfor %}
    <a href="{% url 'urlajouter' %}">Ajouter un utilisateur</a>
    

</table>
</body>
</html>

