
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>FORMULAIRE DE CREATION</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="nom" placeholder="entrer votre nom">
    <input type="email" name="email" placeholder="entrer votre email">
    <input type="date" name="date" placeholder="">
    <input type="file" name="image" placeholder="">
    <button type="submit">envoyer</button>
</form>

</body>
</html>s