<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" placeholder="entrer le nom" name="username" ><br>
        <input type="password" placeholder="entrer le password" name="password" >
        <button type="submit">se connecter</button>
    </form>
    <a href="{% url 'urlregister'%}">creer un compte</a>
    <a href="{% url 'urlemail'%}">Mot de passe oublier</a>

</body>
</html>