<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>FORMULAIRE De modification</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="nom" value="{{ data.nom }}">
    <input type="email" name="email"value="{{ data.email }}" >
    <input type="date" name="date"value="{{ data.date }}" >
    <input type="file" name="image" value="{{ data.image.url }}" >
    <button type="submit">envoyer</button>
</form>
<a href="">affiche</a>
</body>
</html>
