<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Formulaire d'ajout</H1>
    <form action="" method="post">
        {% csrf_token%}
        <select name="designation" id="">
            {% for i in data %}
            <option value="{{i.designation}}">{{i.designation}}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantite" id="">
        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>