<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulaire de remplissage</h1>
    <form action="" method="post">
        {% csrf_token%}
        <input type="text" name="designation" placeholder="entrez la désignation">
        <input type="number" name="qtev" placeholder="entrez la quantité">
        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>