<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PAGE D'INSERTION</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="designation" placeholder="entrez la désignation">
        <input type="text" name="prix" placeholder="entrez le prix">
        <input type="date" name="date" placeholder="entrez la date">
        <input type="file" name="image" placeholder="entrez l'image">
        <button type="submit">Insérer</button>
    </form>
</body>
</html>
